h4 {{movie(row, col).title}} ( {{movie(row, col).year}} )
a(class='mlink',
href='',
ng-click='playMovie(movie(row, col).url)'
title= 'Play')
  img(class='img-rounded pull-left spaced', ng-src='{{movie(row, col).poster}}')
p {{movie(row, col).overview}}
  small
    span.text-muted
      span(class='glyphicon glyphicon-play')
      | {{movie(row, col).runTime}} min <span> </span>
    span.text-info
      span(class='glyphicon glyphicon-star-empty')
      | {{movie(row, col).vote}}
br(clear='all')
p: small(class='text-muted')
  span(class='glyphicon glyphicon-film')
  | {{movie(row, col).fileName}}

